{% comment %}
  Usage:
  {% render 'search-input-component',
    placeholder: section.settings.input_placeholder,
    trending_label: section.settings.trending_searches_label,
    trending_searches: section.settings.trending_searches
  %}
{% endcomment %}
<search-input-component>
  <form
    action="{{- routes.search_url -}}"
    method="get"
    role="search"
    class="flex flex-col items-center h-48 w-full rounded-8 bg-white border border-solid border-orange-100 mb-32 lg:mb-40 relative justify-center"
  >
    <input
      type="search"
      name="q"
      role="combobox"
      autocorrect="off"
      autocomplete="off"
      autocapitalize="off"
      spellcheck="false"
      class="block appearance-none outline-none border-transparent focus:border-transparent focus:ring-0 w-full h-22 body-3 text-black-200 placeholder-black-200"
      {%- if placeholder != blank -%}
        placeholder="{{ placeholder }}"
      {%- endif -%}
    >
    <button
      class="absolute right-0 top-0 search-button"
      type="submit"
    >
      {%- render 'icon_v2', icon: 'search' -%}
    </button>
  </form>
  {%- if trending_searches != blank -%}
    {%- assign trending_search_array = trending_searches | split: ',' -%}
    <div class="trending-searches w-fit mx-auto flex items-center justify-center flex-col gap-16 lg:flex-row">
      {%- if trending_label != blank -%}
        <span class="body-3 text-grey-200">{{- trending_label -}}</span>
      {%- endif -%}
      <ul class="flex items-center justify-center flex-wrap gap-8 max-w-[90%]">
        {%- for trending_search in trending_search_array -%}
          <li class="body-3 border border-[#FFFFFF26] font-medium px-8 py-4 rounded-8 bg-[#0A03004D] text-white">
            <a href="#">{{ trending_search }}</a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  {%- endif -%}
</search-input-component>
