{% comment %}
  Usage:
  {% render 'video-slide', video: section.settings.video %}
{% endcomment %}

<div class="swiper-slide !h-auto">
  <div class="video-slide-wrapper aspect-[3/5] h-full cursor-pointer rounded-30">
    {{
      video
      | video_tag:
        autoplay: true,
        loop: true,
        muted: true,
        controls: false,
        preload: 'metadata',
        class: 'w-full h-full object-cover video_slide rounded-30',
        playsinline: true
    }}
  </div>
</div>
