name: deploy

on:
  push:
    branches:
      - main

env:
  NAMESPACE: production

jobs:
  setup-build-publish-deploy:
    name: deploy
    runs-on: ubuntu-latest
    steps:
    - name: Authentication
      uses: actions/checkout@v6

    - uses: actions/setup-node@v6
      with:
        node-version: '22.2.0'


    - name: Install dependencies and audit packages
      run:  |-
        npm install
        npm audit --audit-level=high

    - name: Slack notification (success)
      if: success()
      run: |
        curl -X POST -H 'Content-type: application/json' \
        --data '{
          "text": "✅ *CORE-API Deploy succeeded*\n*Env:* '${{ env.NAMESPACE}}'\n*Branch:* '${{ github.ref_name }}'\n*Commit:* <${{ github.server_url }}/${{ github.repository }}/commit/${{ github.sha }}|${{ github.sha }}>\n*Actor:* ${{ github.actor }}\n<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|View workflow>"
        }' \
        ${{ secrets.SLACK_WEBHOOK_URL }}

    - name: Slack notification (failure)
      if: failure()
      run: |
        curl -X POST -H 'Content-type: application/json' \
        --data '{
          "text": "❌ *CORE-API Deploy failed*\n*Env:* '${{ env.NAMESPACE }}'\n*Branch:* '${{ github.ref_name }}'\n*Commit:* <${{ github.server_url }}/${{ github.repository }}/commit/${{ github.sha }}|${{ github.sha }}>\n*Actor:* ${{ github.actor }}\n<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|View workflow>"
        }' \
        ${{ secrets.SLACK_WEBHOOK_URL }}        